<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the dark shop - Merchandise</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- internal CSS -->
    <link rel="stylesheet" type="text/css" href="css/shop.css">
<!--    <style>
        #bodyBlock{
            margin: auto;
            width: 70%;
        }
    </style>-->
</head>
<body>
<div class="container-fluid" id="bodyBlock">
    <div>
        <h1 style="margin-top: 30px">The Dark Shop</h1>
        <p><h4>Welcome to the Dark Shop - your place to be for merchandising</h4></p>
    </div>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item" style="margin-right: 20px">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item" style="margin-right: 20px">
                        <a class="nav-link" href="/home">Create Account</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
        <br>
        <h4><p>Please login first:</p></h4>
        <form th:action="@{/lobby}" th:object="${customer}" method="post">
            <div class="form-group" id="loginForm">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" th:field="*{emailAddress}"  class="form-control col-md-6" id="exampleInputEmail1" aria-describedby="emailHelp" required="required">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" th:field="*{password}" class="form-control col-md-6" id="exampleInputPassword1" required="required" minlength="8">
            </div>
            <button type="submit" class="btn btn-primary my-2 my-sm-0" id="loginButton">Login</button>
        </form>
        </div>
        <div class="col-md-6">
            <br>
            <p>NEWS: new "1000 Mods" Album out now! Listen here:</p>
            <div class="embed-responsive embed-responsive-16by9" style="max-width: 600px; max-height: 600px">
                <iframe id="ytplayer" type="text/html" width="640" height="360"
                        src="http://www.youtube.com/embed/tkLA91QXBkQ?autoplay=1&origin=http://example.com"
                        frameborder="0">
                </iframe>
            </div>
        </div>
    </div>
</div>
</body>
</html>